version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
    labels:
      - "chore"
      - "github-actions"
    commit-message:
      prefix: "deps(actions)"
    groups:
      actions-safe:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
    labels:
      - "chore"
      - "go"
    commit-message:
      prefix: "deps(go)"
    groups:
      go-safe:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
    labels:
      - "chore"
      - "docker"
    commit-message:
      prefix: "deps(docker)"
    groups:
      docker-safe:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
