ENV=dev
LOG_LEVEL=info
JWT_SECRET=secret

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=todo_db
POSTGRES_HOST=127.0.0.1 # Use db for production because of docker networking
POSTGRES_PORT=5432
