ENV=dev
HOST=0.0.0.0
PORT=8080
ADMIN_PORT=9091
ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
LOG_LEVEL=info
JWT_SECRET=secret
JWT_EXP=24h
SWAGGER_HOST=127.0.0.1:8080

TELEGRAM_BOT_TOKEN=8927121804:AAEIhk1QdJpRJdISscC0COr19kH79_4f9vw # Stub, get real one from @BotFather
TELEGRAM_LINK_TOKEN_TTL=15m

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=todo_db
# Use db for production because of docker networking
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

PROMETHEUS_USER=admin
PROMETHEUS_PASSWORD=pass
PROMETHEUS_BCRYPT_HASH='$2b$10$Y7mWg87jXkIhkL0fX4UqGepM7yCJRE02YJvvwwlrhG2oF8h8yuYEq' # pass | Quotes are required for correct parsing
GF_SECURITY_ADMIN_PASSWORD=pass

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=pass
