apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:9090
    isDefault: true
    uid: Prometheus
  - name: Loki
    type: loki
    url: http://loki:3100
    uid: Loki
