name: Deploy to VDS

on:
  push:
    branches: [ main ]
    paths: # Main is locked in GitHub settings, don't bother runner on some checks passed in pull_request
      - 'Dockerfile'
      - 'docker-compose*'
      - '.github/workflows/deploy.yml'
      - 'prometheus.yml'
      - 'infra/**'
      - 'internal/**'
      - 'cmd/**'
  pull_request: # Run all checks despite changes so required checks are always satisfied
                # There's no need to make this more complicated since the checks are fast (for now) and parallel

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: goroutine:temp
          outputs: type=docker,dest=/tmp/goroutine.tar
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: goroutine-image
          path: /tmp/goroutine.tar

  security_scan:
    name: Security Scan
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with: { name: goroutine-image, path: /tmp }
      - name: Load image
        run: docker load --input /tmp/goroutine.tar
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'goroutine:temp'
          format: 'table'
          severity: 'CRITICAL,HIGH'

  publish:
    name: Push to GHCR
    needs: security_scan
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with: { name: goroutine-image, path: /tmp }
      - name: Load image
        run: docker load --input /tmp/goroutine.tar
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag and Push
        run: |
          docker tag goroutine:temp ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:latest

  deploy-staging:
    name: Deploy Staging
    needs: publish
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/generic-deploy.yml
    with:
      env_name: staging
    secrets: inherit

  deploy-prod:
    name: Deploy Production
    needs: publish
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/generic-deploy.yml
    with:
      env_name: production
    secrets: inherit
