name: Deploy to VDS

on:
  push:
    branches: [ main ]
    paths: # Main is locked in GitHub settings, don't bother runner on some checks passed in pull_request
      - 'Dockerfile'
      - 'docker-compose*'
      - '.github/workflows/deploy.yml'
      - 'prometheus.template.yml'
      - 'infra/**'
      - 'internal/**'
      - 'cmd/**'
  pull_request: # Run all checks despite changes so required checks are always satisfied
                # There's no need to make this more complicated since the checks are fast (for now) and parallel

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
  cancel-in-progress: false

jobs:
  build-scan-push:
    name: Build, Scan & Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: goroutine:temp
          cache-from: type=gha
          cache-to: type=gha,mode=max # Cache Docker layers in GitHub Actions cache

      - name: Cache Trivy DB
        uses: actions/cache@v4
        with:
          path: /tmp/trivy-db
          key: trivy-db-${{ github.run_number }} # Save installation with always unique keys
          restore-keys: | # Restore previous installation
            trivy-db- 

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'goroutine:temp'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          cache-dir: /tmp/trivy-db # Download only deltas

      - name: Tag and Push
        run: |
          docker tag goroutine:temp ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:latest

  deploy-staging:
    name: Deploy Staging
    needs: build-scan-push
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/generic-deploy.yml
    with:
      env_name: staging
    secrets: inherit

  deploy-prod:
    name: Deploy Production
    needs: build-scan-push
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/generic-deploy.yml
    with:
      env_name: production
    secrets: inherit
