name: Deploy to VDS

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - 'docker-compose*'
      - '.github/workflows/deploy.yml'
      - 'prometheus.yml'
      - 'infra/**'
      - 'internal/**'
      - 'cmd/**'
  pull_request:
    paths:
      - 'Dockerfile'
      - 'docker-compose*'
      - '.github/workflows/deploy.yml'
      - 'prometheus.yml'
      - 'infra/**'
      - 'internal/**'
      - 'cmd/**'

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: todo-app:temp
          outputs: type=docker,dest=/tmp/todo-app.tar
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: todo-app-image
          path: /tmp/todo-app.tar

  security_scan:
    name: Security Scan
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with: { name: todo-app-image, path: /tmp }
      - name: Load image
        run: docker load --input /tmp/todo-app.tar
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'todo-app:temp'
          format: 'table'
          severity: 'CRITICAL,HIGH'

  publish:
    name: Push to GHCR
    needs: security_scan
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with: { name: todo-app-image, path: /tmp }
      - name: Load image
        run: docker load --input /tmp/todo-app.tar
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag and Push
        run: |
          docker tag todo-app:temp ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:latest

  deploy:
    name: Deploy
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create .env.prod file
        run: |
          cat <<EOF > .env.prod
          ENV=${{ vars.ENV }}
          HOST=${{ vars.HOST }}
          LOG_LEVEL=${{ vars.LOG_LEVEL }}
          POSTGRES_DB=${{ vars.POSTGRES_DB }}
          POSTGRES_PORT=${{ vars.POSTGRES_PORT }}
          POSTGRES_USER=${{ vars.POSTGRES_USER }}
          SWAGGER_HOST=${{ vars.SWAGGER_HOST }}
          GF_SECURITY_ADMIN_PASSWORD=${{ secrets.GF_SECURITY_ADMIN_PASSWORD }}
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          EOF

      - name: Copy config files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: "docker-compose.prod.yml,prometheus.yml,infra/,.env.prod"
          target: "/home/mipselqq/apps/todo-go"

      - name: Executing remote ssh
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/mipselqq/apps/todo-go
            docker compose -f docker-compose.prod.yml --env-file .env.prod pull app
            docker compose -f docker-compose.prod.yml --env-file .env.prod up -d
