name: Deploy to VDS

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - 'docker-compose*'
      - '.github/workflows/deploy.yml'
      - 'prometheus.yml'
      - 'infra/**'
      - 'internal/**'
      - 'cmd/**'
  pull_request:
    paths:
      - 'Dockerfile'
      - 'docker-compose*'
      - '.github/workflows/deploy.yml'
      - 'prometheus.yml'
      - 'infra/**'
      - 'internal/**'
      - 'cmd/**'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: goroutine:temp
          outputs: type=docker,dest=/tmp/goroutine.tar
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: goroutine-image
          path: /tmp/goroutine.tar

  security_scan:
    name: Security Scan
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with: { name: goroutine-image, path: /tmp }
      - name: Load image
        run: docker load --input /tmp/goroutine.tar
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'goroutine:temp'
          format: 'table'
          severity: 'CRITICAL,HIGH'

  publish:
    name: Push to GHCR
    needs: security_scan
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with: { name: goroutine-image, path: /tmp }
      - name: Load image
        run: docker load --input /tmp/goroutine.tar
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag and Push
        run: |
          docker tag goroutine:temp ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:latest

  deploy-staging:
    name: Deploy Staging
    needs: publish
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    uses: ./.github/workflows/generic-deploy.yml
    with:
      host: ${{ vars.HOST_STAGING }}
      username: ${{ vars.STAGING_USERNAME }}
      env_name: staging
    secrets:
      SSH_KEY: ${{ secrets.STAGING_SSH_KEY }}

  deploy-prod:
    name: Deploy Production
    needs: publish
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/generic-deploy.yml
    with:
      host: ${{ vars.PROD_HOST }}
      username: ${{ vars.PROD_USERNAME }}
      env_name: production
    secrets:
      SSH_KEY: ${{ secrets.PROD_SSH_KEY }}
