name: Reusable Deploy

on:
  workflow_call:
    inputs:
      env_name:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env_name }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH Key
        shell: bash
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ vars.DEPLOY_HOST }}" >> ~/.ssh/known_hosts

      - name: Run Ansible Playbook
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible
          ansible-galaxy install -r ansible/requirements.yml
          
          ansible-playbook -i "${{ vars.DEPLOY_HOST }}," \
            -u "${{ vars.DEPLOY_USERNAME }}" \
            --private-key ~/.ssh/id_rsa \
            ansible/server-setup-ubuntu.yml
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          ANSIBLE_PIPELINING: True

      - name: Create .env file from GitHub Vars/Secrets
        run: |
          cat <<EOF > .env.prod
          ENV=${{ vars.ENV }}
          HOST=${{ vars.HOST }}
          LOG_LEVEL=${{ vars.LOG_LEVEL }}
          POSTGRES_DB=${{ vars.POSTGRES_DB }}
          POSTGRES_PORT=${{ vars.POSTGRES_PORT }}
          POSTGRES_USER=${{ vars.POSTGRES_USER }}
          SWAGGER_HOST=${{ vars.SWAGGER_HOST }}
          GF_SECURITY_ADMIN_PASSWORD=${{ secrets.GF_SECURITY_ADMIN_PASSWORD }}
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          EOF

      - name: Copy config files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ vars.DEPLOY_HOST }}
          username: ${{ vars.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          source: "docker-compose.prod.yml,prometheus.yml,infra/,.env.prod"
          target: "/home/${{ vars.DEPLOY_USERNAME }}/apps/goroutine"

      - name: Start Application
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ vars.DEPLOY_HOST }}
          username: ${{ vars.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            cd /home/${{ vars.DEPLOY_USERNAME }}/apps/goroutine
            docker compose -f docker-compose.prod.yml --env-file .env.prod pull app
            docker compose -f docker-compose.prod.yml --env-file .env.prod up -d
