name: Reusable Deploy

on:
  workflow_call:
    inputs:
      env_name:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env_name }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH Key
        shell: bash
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh-keygen -y -f ~/.ssh/id_rsa > ~/.ssh/id_rsa.pub
          ssh-keyscan -H "${{ vars.DEPLOY_HOST }}" >> ~/.ssh/known_hosts

      - name: Cache Ansible
        id: cache-ansible
        uses: actions/cache@v5
        with:
          path: |
            ~/.local
            ~/.ansible/collections
          key: ${{ runner.os }}-ansible-${{ hashFiles('ansible/server-setup-ubuntu.yml') }}

      - name: Install Ansible Core & Collections
        if: steps.cache-ansible.outputs.cache-hit != 'true'
        run: | # WARN: Dependabot won't update these versions, manual bump required.
          pip install --user ansible-core==2.20.2
          ansible-galaxy collection install community.general:12.3.0 ansible.posix:2.1.0 community.docker:5.0.5

      - name: Create .env file from GitHub Vars/Secrets
        run: |
          cat <<EOF > .env.prod
          ENV=${{ vars.ENV }}
          LOG_LEVEL=${{ vars.LOG_LEVEL }}
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          JWT_EXP=${{ vars.JWT_EXP }}
          HOST=${{ vars.HOST }}
          SWAGGER_HOST=${{ vars.SWAGGER_HOST }}
          PORT=${{ vars.PORT }}
          ADMIN_PORT=${{ vars.ADMIN_PORT }}
          ALLOWED_ORIGINS=${{ vars.ALLOWED_ORIGINS }}

          POSTGRES_USER=${{ vars.POSTGRES_USER }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB=${{ vars.POSTGRES_DB }}
          POSTGRES_PORT=${{ vars.POSTGRES_PORT }}
          POSTGRES_HOST=${{ vars.POSTGRES_HOST }}

          GF_SECURITY_ADMIN_PASSWORD=${{ secrets.GF_SECURITY_ADMIN_PASSWORD }}
          EOF

      - name: Run Ansible Playbook
        shell: bash
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          ansible-playbook -i "${{ vars.DEPLOY_HOST }}," \
            -u "root" \
            --private-key ~/.ssh/id_rsa \
            -e "deploy_username=${{ vars.DEPLOY_USERNAME }}" \
            ansible/server-setup-ubuntu.yml
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          ANSIBLE_PIPELINING: True
